<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <title>Контакти</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>

<%- include('header') %>

<div class="page-wrapper">

    <h1>Контакти</h1>

    <div class="info-card">

        <p><strong>Email:</strong> support@apartmenthub.com</p>

        <p><strong>Телефон:</strong> +38067676767</p>

        <p><strong>Адреса:</strong> Київ, Україна</p>

        <p>
            Якщо у вас виникли питання щодо роботи сайту —
            зв’яжіться з нами будь-яким зручним способом.
        </p>

    </div>

</div>
<a href="/" class="backBtn">← Назад до каталогу</a>

<%- include('footer') %>

</body>
</html>