<div class="form-container">
  <h2>Вхід</h2>
  <form id="loginForm">
    <!-- <input
      type="text"
      name="contacts"
      placeholder="Телефон або Email"
      required
    /> -->
    <input type="text" name="name" placeholder="Ім'я" required />
    <input type="password" name="password" placeholder="Пароль" required />
    <button type="submit" style="background: #007bff">Увійти</button>
  </form>
  <div id="login-error" style="color: red"></div>
  <div class="switch">
    Немає акаунту? <a href="login/register">Зареєструватися</a>
  </div>
</div>

<script>
  const form = document.getElementById("loginForm");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const name = document.querySelector('input[name="name"]').value;
    const password = document.querySelector('input[name="password"]').value;

    const response = await fetch("/auth/login", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ name, password }),
    });

    if (response.ok) {
      const data = await response.json();
      window.location.href = `/user/${data.userId}`;
    } else {
      const err = await response.json();
      document.getElementById("login-error").textContent = err.error;
    }
  });
</script>
